#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=custom-backup
Exec=gnome-terminal -e 'bash -c "custom-backup ; bash"'
Terminal=true # This ensures it runs in a visible terminal
